@model IEnumerable<BD.Candidates>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <h1>Candidatos</h1>

    <div class="card">
        <div class="card-content">
            <div class="row right-align">
                <!-- Este div coloca el botón "Create New" en la parte derecha superior -->
                <a class="btn-floating waves-effect waves-light blue add_circle_outline" asp-action="Create">
                    <i class="material-icons">add_circle_outline</i>
                </a>
            </div>
            <div class="row">
                <div class="col s12">
                    <table class="responsive-table highlight">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Surname)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Birthdate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Surname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Birthdate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.IdCandidate">
                                            <i class="material-icons blue-text" style="margin-right: 10px">edit</i>
                                        </a>
                                        <a asp-action="Details" class="" asp-route-id="@item.IdCandidate">
                                            <i class="material-icons green-text" style="margin-right: 10px">remove_red_eye</i>
                                        </a>
                                        <a asp-action="Delete" class="red-text" asp-route-id="@item.IdCandidate">
                                            <i class="material-icons" style="margin-right: 10px">delete</i>
                                        </a>
                                        <a class="deep-orange-text" asp-controller="CandidateExperiences" asp-action="Index" asp-route-id="@item.IdCandidate">
                                            <i class="material-icons" title="Experiencias  candidato">pageview</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
